html, body, #map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.placemark {
    font-size: 40px;
    color: #666;
    margin-left: -17px;
    margin-top: -17px;
}

.feedback {
    width: 350px;
    overflow:scroll;
}

.clustered .feedback {
    width: 100%;
}

.feedback-title {
    position: fixed;
    color: white;
    background-color: #ff8663;
    border-radius: 10px 10px 0 0;
    padding: 15px 30px 15px 15px;
    margin: -55px 0 10px -12px;
    width: 330px;
    height: 15px;
}

.clustered .feedback-title {
    position: fixed;
    color: white;
    background-color: #ff8663;
    border-radius: 10px 10px 0 0;
    padding: 15px 30px 15px 15px;
    margin: -50px 0 10px -43px;
    width: 411px;
}

.feedback-item {
    color: #4f4f4f;
}

.feedback-address {
    font-size: 12px;
}

.feedback-address span {
    margin-right: 5px;
}

.feedback-name {
    font-size: 16px; 
}

.feedback-place {
    font-size: 20px;
}

.feedback-text {
    font-size: 15px;
}

.form {
    width: 100%;
}

.form .title {
    color:#ff8663;
}

.form .field {
    width: 100%;
    margin-bottom: 10px;
}

.form .field input,
.form .field textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px; 
    font-size: 16px;
}

.form .field textarea {
    resize: none;
}

.form .form-error {
    color: red;
}
/*
.feedback-list {
    max-height: 80px;
    overflow: scroll;
} */

.f_right {
    float: right;
}

.title-cross {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    cursor: pointer;
}

.button {
    width: 88px; 
    background-color: #ff8663;
    height: 33px; 
    border-radius: 10px; 
    border: 1px solid #ff8663;
}

.click-address {
    cursor: pointer;
}

.hide {
    display: none;
}